{% extends "layout.html" %}
{% block body %}
  <div class="row">
    <div class="col-md-6 col-md-offset-3" style="text-align: center">
      <h1>Hi, 
      {% if g.user.is_authenticated() %}
        {{ g.user.username }}
      {% else %} 
        Stranger 
      {% endif %}
      </h1>
      <a class="btn btn-success" href="{{ url_for('entry') }}" role="button">Entry</a>
      
    </div>
  </div> <!-- row of form-->
  <hr>
  
  <!-- Data Summary-->
  <div class="row">
    <div class="col-md-10 col-md-offset-1">
      <h3>Data Summary</h3>
      <p>* Average Data within 4 weeks</p>
      <table class="table table-bordered">
        <thead>
          <th></th>
          <th>Systolic Pressure</th>
          <th>Diastolic Pressure</th>
          <th>Cardiac Rate</th>
        </thead>

        <tbody>
          <tr>
            <th scope="row">Max</th>
            <td>{{max_systolic}}</td>
            <td>{{max_diastolic}}</td>
            <td>{{max_rate}}</td>
          </tr>
          <tr>
            <th scope="row">Min</th>
            <td>{{min_systolic}}</td>
            <td>{{min_diastolic}}</td>
            <td>{{min_rate}}</td>
          </tr>
          <tr>
            <th scope="row">Avg</th>
            <td>{{avg_systolic}}</td>
            <td>{{avg_diastolic}}</td>
            <td>{{avg_rate}}</td>
          </tr>
        </tbody>
      </table>    
    </div>
  </div>
  <hr>

  <!-- History Data -->
  <div class="row">
    <div class="col-md-10 col-md-offset-1">
      <h3>History Data</h3>
      <table class="table table-hover">
        <thead>
          <th>Time</th>
          <th>Systolic Pressure</th>
          <th>Diastolic Pressure</th>
          <th>Cardiac Rate</th>
          <th>Note</th>
        </thead>

        {% for data in datas.items %}
        <tbody>
          <tr>
            <td>{{data.timestamp}}</td>
            <td>{{data.systolic_pressure}}</td>
            <td>{{data.diastolic_pressure}}</td>
            <td>{{data.cardiac_rate}}</td>
            <td>{% if data.body%}{{data.body}}{% endif %}</td>
          </tr>
        </tbody>
        {% endfor %}
      </table>
      
      <nav>
        <ul class="pager">
          <li>{% if datas.has_prev %}<a href="{{ url_for('index', page = datas.prev_num) }}"><< Newer</a>{% else %}<< Newer{% endif %}</li>
          <li>{% if datas.has_next %}<a href="{{ url_for('index', page = datas.next_num) }}">Older >></a>{% else %}Older >>{% endif %}</li>
        </ul>
      </nav>
    </div>
  </div>

{% endblock %}

