{% extends "layout.html" %}
{% block body %}
<div class="row">
  <div class="col-md-6 col-md-offset-3" style="text-align: center">
    <h3>Log in</h3>
    {% if form.errors %}<p class=><strong>Error:</strong> {{ form.errors }}{% endif %}
    <form action="" method="post" name="login">
      {{form.hidden_tag()}}
      <div class="form-group">
        <!-- <label for="email">Please enter your Email</label><br> -->
        <label for="email">邮箱</label><br>
        {{form.email}}
      </div>

      <!-- <p>{{form.remember_me}} Remember Me</p> -->
      <p>{{form.remember_me}}下次自动登录</p>

      <!-- <button type="submit" value="Signin" class="btn btn-primary">Sign In</button> -->
      <button type="submit" value="Signin" class="btn btn-primary">登录</button>
      <br>
      <br>
      <p>
        <!-- New user? -->
        新用户?
        <a href="{{ url_for('register') }}">
        <!-- Click here to register -->
        点击这里注册
        </a>
      </p>
      <p>* Test Account: test@abc.com</p>

    </form>
  </div>
</div>
{% endblock %}